In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

Amazon Sale Report cleaning

In [ ]:
ds = pd.read_csv("/content/Amazon Sale Report.csv")
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          122103 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                121180 non-null  object
 15  Sale_Amount             121180 non-null  float64
 16  Shipping_City           128942 non-null  object
 17  Shipping_State          128942 non-null  object
 18  Shipping_Postal_Code    128942 non-null  float64
 19  Shipping_Country        128942 non-null  object
 20  Promotion_IDs           79822 non-null   object
 21  Business_to_Business    128975 non-null  bool
 22  Fulfilled_By            39277 non-null   object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 21.8+ MB

In [ ]:
ds['Shipping_State'] = ds['Shipping_State'].str.upper()

state_mapping = {
    'RJ': 'RAJASTHAN',
    'NL': 'NAGALAND',
    'AR': 'ARUNACHAL PRADESH',
    'PB': 'PUNJAB',
    'ORISSA':'ODISHA',
    'PUNJAB/MOHALI/ZIRAKPUR': 'PUNJAB'
}
ds['Shipping_State'] = ds['Shipping_State'].replace(state_mapping)

states = ds['Shipping_State'].unique()
print("States: ", states)

States:  ['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH'
 'CHANDIGARH' 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA'
 'ASSAM' 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'GUJARAT' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'GOA' 'MEGHALAYA' 'TRIPURA' 'LADAKH' 'DADRA AND NAGAR' 'SIKKIM'
 nan 'ANDAMAN & NICOBAR ' 'RAJSHTHAN' 'MIZORAM' 'NEW DELHI' 'LAKSHADWEEP'
 'APO' 'PONDICHERRY' 'RAJSTHAN']

In [ ]:
ds = ds.drop(['Fulfilled_By', 'Promotion_IDs'], axis=1)
ds.loc[(ds['Courier_Status'].isna()) & (ds['Quantity'] == 0), 'Courier_Status'] = 'Cancelled'
ds['Currency'] = ds['Currency'].fillna('INR')

In [ ]:
ds['Sale_Amount'] = ds.groupby('Product_SKU')['Sale_Amount'].transform(
    lambda x: x.fillna(method='bfill').fillna(method='ffill')
)

imputer = SimpleImputer(strategy='median')
ds['Sale_Amount'] = imputer.fit_transform(ds[['Sale_Amount']])
ds.info()

<ipython-input-28-d48ff32f1275>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda x: x.fillna(method='bfill').fillna(method='ffill')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          128975 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                128975 non-null  object
 15  Sale_Amount             128975 non-null  float64
 16  Shipping_City           128942 non-null  object
 17  Shipping_State          128942 non-null  object
 18  Shipping_Postal_Code    128942 non-null  float64
 19  Shipping_Country        128942 non-null  object
 20  Business_to_Business    128975 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 19.8+ MB

International Sale Report cleaning

In [12]:
ds2 = pd.read_csv("/content/International sale Report.csv")
print(ds2.shape)
ds2.info()

(37432, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         34958 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [13]:
most_frequent_sku = ds2.groupby('Product_Style')['Product_SKU'].agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan)
ds2.loc[ds2['Product_SKU'].isna(), 'Product_SKU'] = ds2.loc[ds2['Product_SKU'].isna(), 'Product_Style'].map(most_frequent_sku)
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         36189 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [20]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

encoder_style = LabelEncoder()
ds2['Product_Style_Encoded'] = encoder_style.fit_transform(ds2['Product_Style'])

encoder_sku = LabelEncoder()
encoder_sku.fit(ds2['Product_SKU'].dropna())

ds2['Product_SKU_Encoded'] = ds2['Product_SKU'].apply(
    lambda x: encoder_sku.transform([x])[0] if pd.notna(x) else np.nan
)

imputer = KNNImputer(n_neighbors=2, weights="uniform")
imputed_values = imputer.fit_transform(ds2[['Product_SKU_Encoded', 'Product_Style_Encoded']])
ds2['Product_SKU_Encoded'] = imputed_values[:, 0]

ds2['Product_SKU'] = ds2['Product_SKU_Encoded'].apply(
    lambda x: encoder_sku.inverse_transform([int(round(x))])[0] if not np.isnan(x) else np.nan
)

ds2 = ds2.drop(['Product_Style_Encoded', 'Product_SKU_Encoded'], axis=1)

In [27]:
ds2['Temporary_Sale_Date'] = pd.to_datetime(ds2['Sale_Date'], format='%d-%m-%Y', errors='coerce')

ds2['Extracted_Sale_Month'] = ds2['Temporary_Sale_Date'].dt.strftime('%y-%b')

ds2.loc[ds2['Sale_Month'].isna(), 'Sale_Month'] = ds2.loc[ds2['Sale_Month'].isna(), 'Extracted_Sale_Month']

ds2 = ds2.drop(columns=['Temporary_Sale_Date', 'Extracted_Sale_Month'])

In [28]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         37432 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

May-2022

In [30]:
ds3 = pd.read_csv("/content/May-2022.csv")
ds3 = ds3.replace('Nill', np.nan)
ds3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1330 non-null   int64
 1   Product_SKU       1330 non-null   object
 2   Product_Style_ID  1330 non-null   object
 3   Product_Catalog   1257 non-null   object
 4   Product_Category  1257 non-null   object
 5   Product_Weight    1257 non-null   object
 6   Transfer_Price    1330 non-null   object
 7   Old_MRP           1293 non-null   object
 8   Final_Old_MRP     1293 non-null   object
 9   Ajio_MRP          1293 non-null   object
 10  Amazon_MRP        1293 non-null   object
 11  Amazon_FBA_MRP    1293 non-null   object
 12  Flipkart_MRP      1293 non-null   object
 13  Limeroad_MRP      1293 non-null   object
 14  Myntra_MRP        1299 non-null   object
 15  Paytm_MRP         1293 non-null   object
 16  Snapdeal_MRP      1293 non-null   object
dtypes: int64(1), object(16)
memory usage: 176.8+ KB

Sale Report

In [31]:
ds4 = pd.read_csv("/content/Sale Report.csv")
ds4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             9271 non-null   int64
 1   Product_SKU       9188 non-null   object
 2   Design_Number     9235 non-null   object
 3   Stock_Level       9235 non-null   float64
 4   Product_Category  9226 non-null   object
 5   Product_Size      9235 non-null   object
 6   Product_Color     9226 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 507.1+ KB