Still problems in all the cleaning processess (!fix needed!)

**AMAZON SALES DATA**

In [2]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 5.6 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/11.5 MB 4.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.5 MB 3.7 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 3.8 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.7 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 3.7 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.5 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 4.2 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/12.6 MB 3.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.4/12.6 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 3.1/12.6 MB 3.6 MB/s eta 0:00:03
   ------------ --------------------------- 3.9/12.6 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 4.7/12.6 MB 3.6 MB/s eta 0:00:03
   ----------------- ---------------------- 5.5/12.6 MB 3.6 MB/s eta 0:00:03
   ------------------- -------------------- 6.3/12.6 MB 3.6 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.6 MB 3.6 MB/s eta 0:00:02
   ------------------------ --------------- 7.6/12.6 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 8.4/12.6 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 9.2/12.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 10.7/12.6 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 3.5 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.
Collecting matplotlib
  Downloading matplotlib-3.10.1-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp312-cp312-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.1-cp312-cp312-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ----- ---------------------------------- 1.0/8.1 MB 5.0 MB/s eta 0:00:02
   --------- ------------------------------ 1.8/8.1 MB 4.2 MB/s eta 0:00:02
   ----------- ---------------------------- 2.4/8.1 MB 3.9 MB/s eta 0:00:02
   --------------- ------------------------ 3.1/8.1 MB 3.8 MB/s eta 0:00:02
   ------------------- -------------------- 3.9/8.1 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 4.7/8.1 MB 3.7 MB/s eta 0:00:01
   --------------------------- ------------ 5.5/8.1 MB 3.6 MB/s eta 0:00:01
   ----------------------------- ---------- 6.0/8.1 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 6.8/8.1 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 3.5 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl (220 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.2 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 3.4 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.6 MB 3.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.6 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 3.4 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.1 pillow-11.1.0 pyparsing-3.2.1
Note: you may need to restart the kernel to use updated packages.
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from seaborn) (2.2.4)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\onedrive\desktop\dataviz\data_viz_project_iitm\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [118]:
import pandas as pd

In [133]:
amazon=pd.read_csv("data/Amazon Sale Report.csv")

In [120]:
amazon.dtypes

index                       int64
Order_ID                   object
Order_Date                 object
Order_Status               object
Fulfillment_Type           object
Sales_Channel              object
Shipping_Service_Level     object
Product_Style              object
Product_SKU                object
Product_Category           object
Product_Size               object
Amazon_Standard_ID         object
Courier_Status             object
Quantity                    int64
Currency                   object
Sale_Amount               float64
Shipping_City              object
Shipping_State             object
Shipping_Postal_Code      float64
Shipping_Country           object
Promotion_IDs              object
Business_to_Business         bool
Fulfilled_By               object
dtype: object

In [121]:
print(amazon.isnull().sum())

index                         0
Order_ID                      0
Order_Date                    0
Order_Status                  0
Fulfillment_Type              0
Sales_Channel                 0
Shipping_Service_Level        0
Product_Style                 0
Product_SKU                   0
Product_Category              0
Product_Size                  0
Amazon_Standard_ID            0
Courier_Status             6872
Quantity                      0
Currency                   7795
Sale_Amount                7795
Shipping_City                33
Shipping_State               33
Shipping_Postal_Code         33
Shipping_Country             33
Promotion_IDs             49153
Business_to_Business          0
Fulfilled_By              89698
dtype: int64

Finding Percentage of missing values in each column

In [69]:
missing_percentage = amazon.isnull().sum() / len(amazon) * 100
print(missing_percentage)

index                      0.000000
Order_ID                   0.000000
Order_Date                 0.000000
Order_Status               0.000000
Fulfillment_Type           0.000000
Sales_Channel              0.000000
Shipping_Service_Level     0.000000
Product_Style              0.000000
Product_SKU                0.000000
Product_Category           0.000000
Product_Size               0.000000
Amazon_Standard_ID         0.000000
Courier_Status             5.328164
Quantity                   0.000000
Currency                   6.043807
Sale_Amount                6.043807
Shipping_City              0.025586
Shipping_State             0.025586
Shipping_Postal_Code       0.025586
Shipping_Country           0.025586
Promotion_IDs             38.110487
Business_to_Business       0.000000
Fulfilled_By              69.546811
dtype: float64

Dropping Columns with large percentage of missing values

In [134]:
amazon.drop('Fulfilled_By', axis=1, inplace=True)

In [135]:
amazon.drop('Promotion_IDs', axis=1, inplace=True)

Imputation of missing values for remaing columns (int, float)

In [136]:
def fill_na_based_on_skew(df, column):
    skewness = df[column].skew()

    if abs(skewness) > 1: 
        df[column].fillna(df[column].median(), inplace=True)
    else: 
        df[column].fillna(df[column].mean(), inplace=True)

In [ ]:
fill_na_based_on_skew(amazon, 'Sale_Amount')

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3934627601.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

Imputation of missing values for Categorical Columns

In [74]:
def fill_categorical_missing(df, categorical_columns):
    total_rows = len(df)

    for col in categorical_columns:
        unique_count = df[col].nunique()
        cardinality_ratio = unique_count / total_rows  

        if cardinality_ratio < 0.05:  
            df[col].fillna(df[col].mode()[0], inplace=True)

        elif 0.05 <= cardinality_ratio <= 0.20:  
            if df[col].mode()[0] != "Unknown":  
                df[col].fillna(df[col].mode()[0], inplace=True)
            else:
                df[col].fillna("Unknown", inplace=True)

        else: 
            df[col].fillna("Unknown", inplace=True)

    return df

In [ ]:
def check_unique_values(df, column):
    print(f"Unique values in '{column}':")
    unique_values = df[column].dropna().unique() 
    for value in sorted(unique_values):
        print(repr(value)) 
    print(f"\nTotal unique values: {len(unique_values)}")

check_unique_values(amazon, 'Courier_Status')
check_unique_values(amazon, 'Currency')
check_unique_values(amazon, 'Shipping_City')
check_unique_values(amazon, 'Shipping_State')
check_unique_values(amazon, 'Shipping_Country')

Unique values in 'Shipping_State':
'ANDAMAN & NICOBAR '
'ANDHRA PRADESH'
'APO'
'AR'
'ARUNACHAL PRADESH'
'ASSAM'
'Arunachal Pradesh'
'Arunachal pradesh'
'BIHAR'
'Bihar'
'CHANDIGARH'
'CHHATTISGARH'
'Chandigarh'
'DADRA AND NAGAR'
'DELHI'
'Delhi'
'GOA'
'Goa'
'Gujarat'
'HARYANA'
'HIMACHAL PRADESH'
'JAMMU & KASHMIR'
'JHARKHAND'
'KARNATAKA'
'KERALA'
'LADAKH'
'LAKSHADWEEP'
'MADHYA PRADESH'
'MAHARASHTRA'
'MANIPUR'
'MEGHALAYA'
'MIZORAM'
'Manipur'
'Meghalaya'
'Mizoram'
'NAGALAND'
'NL'
'Nagaland'
'New Delhi'
'ODISHA'
'Odisha'
'Orissa'
'PB'
'PUDUCHERRY'
'PUNJAB'
'Pondicherry'
'Puducherry'
'Punjab'
'Punjab/Mohali/Zirakpur'
'RAJASTHAN'
'RJ'
'Rajasthan'
'Rajshthan'
'Rajsthan'
'SIKKIM'
'Sikkim'
'TAMIL NADU'
'TELANGANA'
'TRIPURA'
'UTTAR PRADESH'
'UTTARAKHAND'
'WEST BENGAL'
'bihar'
'delhi'
'goa'
'orissa'
'punjab'
'rajasthan'
'rajsthan'

Total unique values: 69

In [ ]:
categorical_cols=['Courier_Status','Currency','Shipping_City','Shipping_State','Shipping_Country']

fill_categorical_missing(amazon, categorical_cols)

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3297095365.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3297095365.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

,index,Order_ID,Order_Date,Order_Status,Fulfillment_Type,Sales_Channel,Shipping_Service_Level,Product_Style,Product_SKU,Product_Category,...,Amazon_Standard_ID,Courier_Status,Quantity,Currency,Sale_Amount,Shipping_City,Shipping_State,Shipping_Postal_Code,Shipping_Country,Business_to_Business
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,B09KXVBD7Z,Shipped,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,B099NRCT7B,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,B098112V2V,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,False
128971,128971,402-9551604-7544318,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,B09VC6KHX8,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,False
128972,128972,407-9547469-3152358,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,B0982YZ51B,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,False
128973,128973,402-6184140-0545956,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,B0894Y2NJQ,Shipped,1,INR,1199.00,Halol,Gujarat,389350.0,IN,False
128974,128974,408-7436540-8728312,5/31/2022,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,B0894X27FC,Shipped,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,False

Imputation for "Shipping_Postal_Code"

In [76]:
def fill_missing_mode(group):
    mode_value = group.mode()
    return group.fillna(mode_value[0] if not mode_value.empty else 'Unknown')

In [78]:
amazon['Shipping_Postal_Code'] = amazon['Shipping_Postal_Code'].astype(str)

amazon['Shipping_Postal_Code'] = amazon.groupby(['Shipping_City', 'Shipping_State'])['Shipping_Postal_Code'].transform(fill_missing_mode)

print(amazon[amazon['Shipping_City'].notnull() & amazon['Shipping_State'].notnull() & amazon['Shipping_Postal_Code'].isnull()])

Empty DataFrame
Columns: [index, Order_ID, Order_Date, Order_Status, Fulfillment_Type, Sales_Channel, Shipping_Service_Level, Product_Style, Product_SKU, Product_Category, Product_Size, Amazon_Standard_ID, Courier_Status, Quantity, Currency, Sale_Amount, Shipping_City, Shipping_State, Shipping_Postal_Code, Shipping_Country, Business_to_Business]
Index: []

[0 rows x 21 columns]

In [79]:
import re
def identify_date_format(date):
    date = str(date).strip() 
    
    if re.match(r'^\d{2}-\d{2}-\d{4}$', date): 
        return 'MM-DD-YYYY'
    elif re.match(r'^\d{1,2}/\d{1,2}/\d{4}$', date): 
        return 'M/D/YYYY'
    elif re.match(r'^\d{4}-\d{2}-\d{2}$', date): 
        return 'YYYY-MM-DD'
    elif re.match(r'^\d{1,2}-\d{1,2}-\d{2}$', date):  
        return 'MM-DD-YY'
    elif date.lower() in ['nan', 'nat', 'none', '']:  
        return 'MISSING'
    else:
        return 'UNKNOWN FORMAT'

amazon['Date_Format'] = amazon['Order_Date'].apply(identify_date_format)

format_counts = amazon['Date_Format'].value_counts()
print(format_counts)

Date_Format
M/D/YYYY          73866
UNKNOWN FORMAT    55109
Name: count, dtype: int64

In [80]:
print(amazon[amazon['Date_Format'] == 'UNKNOWN FORMAT']['Order_Date'].sample(20, random_state=42))

41231     04/05/22
31146     04/12/22
31315     04/12/22
87974     05/02/22
89102     05/02/22
73006     05/12/22
86591     05/03/22
126969    06/02/22
125633    06/03/22
41078     04/06/22
113796    06/11/22
111258    06/12/22
88372     05/02/22
85939     05/03/22
80741     05/06/22
127714    06/01/22
79971     05/07/22
87998     05/02/22
34809     04/09/22
85971     05/03/22
Name: Order_Date, dtype: object

In [81]:
def fix_short_year_format(date):
    date = str(date).strip() 
    if re.match(r'^\d{1,2}/\d{1,2}/\d{2}$', date):  
        return pd.to_datetime(date, format='%m/%d/%y').strftime('%#m/%#d/%Y') 
    return date  

amazon['Order_Date'] = amazon['Order_Date'].apply(fix_short_year_format)

In [82]:
import re
def identify_date_format(date):
    date = str(date).strip() 
    
    if re.match(r'^\d{2}-\d{2}-\d{4}$', date): 
        return 'MM-DD-YYYY'
    elif re.match(r'^\d{1,2}/\d{1,2}/\d{4}$', date): 
        return 'M/D/YYYY'
    elif re.match(r'^\d{4}-\d{2}-\d{2}$', date): 
        return 'YYYY-MM-DD'
    elif re.match(r'^\d{1,2}-\d{1,2}-\d{2}$', date):  
        return 'MM-DD-YY'
    elif date.lower() in ['nan', 'nat', 'none', '']:  
        return 'MISSING'
    else:
        return 'UNKNOWN FORMAT'

amazon['Date_Format'] = amazon['Order_Date'].apply(identify_date_format)

format_counts = amazon['Date_Format'].value_counts()
print(format_counts)

Date_Format
M/D/YYYY    128975
Name: count, dtype: int64

In [83]:
amazon['Order_Date'] = pd.to_datetime(amazon['Order_Date'], format='%m/%d/%Y', errors='raise')

In [84]:
print(amazon.isnull().sum())

index                     0
Order_ID                  0
Order_Date                0
Order_Status              0
Fulfillment_Type          0
Sales_Channel             0
Shipping_Service_Level    0
Product_Style             0
Product_SKU               0
Product_Category          0
Product_Size              0
Amazon_Standard_ID        0
Courier_Status            0
Quantity                  0
Currency                  0
Sale_Amount               0
Shipping_City             0
Shipping_State            0
Shipping_Postal_Code      0
Shipping_Country          0
Business_to_Business      0
Date_Format               0
dtype: int64

In [85]:
amazon.drop(columns=['Date_Format'], inplace=True)

In [86]:
print(amazon.duplicated().sum())

0

In [87]:
amazon.dtypes

index                              int64
Order_ID                          object
Order_Date                datetime64[ns]
Order_Status                      object
Fulfillment_Type                  object
Sales_Channel                     object
Shipping_Service_Level            object
Product_Style                     object
Product_SKU                       object
Product_Category                  object
Product_Size                      object
Amazon_Standard_ID                object
Courier_Status                    object
Quantity                           int64
Currency                          object
Sale_Amount                      float64
Shipping_City                     object
Shipping_State                    object
Shipping_Postal_Code              object
Shipping_Country                  object
Business_to_Business                bool
dtype: object

In [88]:
print(amazon['Sale_Amount'].mean())

648.5614647631622

**SALES REPORT**

In [89]:
sales=pd.read_csv("data/Sale Report.csv")

In [90]:
sales.dtypes

index                 int64
Product_SKU          object
Design_Number        object
Stock_Level         float64
Product_Category     object
Product_Size         object
Product_Color        object
dtype: object

In [31]:
print(sales.isnull().sum())

index                0
Product_SKU         83
Design_Number       36
Stock_Level         36
Product_Category    45
Product_Size        36
Product_Color       45
dtype: int64

In [32]:
missing_percentage = sales.isnull().sum() / len(sales) * 100
print(missing_percentage)

index               0.000000
Product_SKU         0.895265
Design_Number       0.388308
Stock_Level         0.388308
Product_Category    0.485385
Product_Size        0.388308
Product_Color       0.485385
dtype: float64

In [91]:
fill_na_based_on_skew(sales, 'Stock_Level')

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3934627601.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

In [92]:
categorical_cols=['Product_Category','Product_Size','Product_Color']

fill_categorical_missing(sales, categorical_cols)

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3297095365.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

,index,Product_SKU,Design_Number,Stock_Level,Product_Category,Product_Size,Product_Color
0,0,AN201-RED-L,AN201,5.0,AN : LEGGINGS,L,Red
1,1,AN201-RED-M,AN201,5.0,AN : LEGGINGS,M,Red
2,2,AN201-RED-S,AN201,3.0,AN : LEGGINGS,S,Red
3,3,AN201-RED-XL,AN201,6.0,AN : LEGGINGS,XL,Red
4,4,AN201-RED-XXL,AN201,3.0,AN : LEGGINGS,XXL,Red
...,...,...,...,...,...,...,...
9266,9266,NaN,NaN,8.0,KURTA,S,Blue
9267,9267,NaN,NaN,8.0,KURTA,S,Blue
9268,9268,NaN,NaN,8.0,KURTA,S,Blue
9269,9269,NaN,NaN,8.0,KURTA,S,Blue
9270,9270,NaN,NaN,8.0,KURTA,S,Blue

In [ ]:
sales['Product_SKU'] = sales.groupby('Product_Category')['Product_SKU'].transform(fill_missing_mode)
sales['Design_Number'] = sales.groupby('Product_Category')['Design_Number'].transform(fill_missing_mode)

print(sales[sales['Product_Category'].notnull() & sales['Product_SKU'].isnull()])
print(sales[sales['Product_Category'].notnull() & sales['Design_Number'].isnull()])

Empty DataFrame
Columns: [index, Product_SKU, Design_Number, Stock_Level, Product_Category, Product_Size, Product_Color]
Index: []
Empty DataFrame
Columns: [index, Product_SKU, Design_Number, Stock_Level, Product_Category, Product_Size, Product_Color]
Index: []

In [94]:
sales['Stock_Level'] = sales['Stock_Level'].astype(int)

In [95]:
print(sales.isnull().sum())

index               0
Product_SKU         0
Design_Number       0
Stock_Level         0
Product_Category    0
Product_Size        0
Product_Color       0
dtype: int64

In [96]:
print(sales.duplicated().sum())

0

In [97]:
sales.dtypes

index                int64
Product_SKU         object
Design_Number       object
Stock_Level          int64
Product_Category    object
Product_Size        object
Product_Color       object
dtype: object

**MAY-2022**

In [98]:
maydata=pd.read_csv("data/May-2022.csv")

In [99]:
cols_to_convert = maydata.columns[5:]
maydata[cols_to_convert] = maydata[cols_to_convert].apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0).astype(int)

In [100]:
maydata.dtypes

index                int64
Product_SKU         object
Product_Style_ID    object
Product_Catalog     object
Product_Category    object
Product_Weight       int64
Transfer_Price       int64
Old_MRP              int64
Final_Old_MRP        int64
Ajio_MRP             int64
Amazon_MRP           int64
Amazon_FBA_MRP       int64
Flipkart_MRP         int64
Limeroad_MRP         int64
Myntra_MRP           int64
Paytm_MRP            int64
Snapdeal_MRP         int64
dtype: object

In [101]:
print(maydata.isnull().sum())

index               0
Product_SKU         0
Product_Style_ID    0
Product_Catalog     0
Product_Category    0
Product_Weight      0
Transfer_Price      0
Old_MRP             0
Final_Old_MRP       0
Ajio_MRP            0
Amazon_MRP          0
Amazon_FBA_MRP      0
Flipkart_MRP        0
Limeroad_MRP        0
Myntra_MRP          0
Paytm_MRP           0
Snapdeal_MRP        0
dtype: int64

In [102]:
print(maydata.duplicated().sum())

0

**INTERNATIONAL SALE REPORT (to be done)**

In [110]:
intsale=pd.read_csv("data/International sale Report.csv")

In [114]:
print(intsale.isnull().sum())

index                  0
Sale_Date              1
Sale_Month            25
Customer_Name          0
Product_Style          0
Product_SKU            0
Product_Size           0
Quantity_Purchased     0
Price_per_Unit         0
Gross_Amount           0
dtype: int64

In [107]:
intsale.dtypes

index                   int64
Sale_Date              object
Sale_Month             object
Customer_Name          object
Product_Style          object
Product_SKU            object
Product_Size           object
Quantity_Purchased      int64
Price_per_Unit        float64
Gross_Amount          float64
dtype: object

In [112]:
intsale['Quantity_Purchased'] = pd.to_numeric(intsale['Quantity_Purchased'], errors='coerce')

intsale['Price_per_Unit'] = pd.to_numeric(intsale['Price_per_Unit'].str.replace(',', ''), errors='coerce')
intsale['Gross_Amount'] = pd.to_numeric(intsale['Gross_Amount'].str.replace(',', ''), errors='coerce')

fill_na_based_on_skew(intsale, 'Quantity_Purchased')
fill_na_based_on_skew(intsale, 'Price_per_Unit')
fill_na_based_on_skew(intsale, 'Gross_Amount')

intsale['Quantity_Purchased'] = intsale['Quantity_Purchased'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3934627601.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3934627601.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3934627601.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

In [113]:
intsale['Product_SKU'] = fill_missing_mode(intsale['Product_SKU'])

categorical_columns = ['Customer_Name', 'Product_Style', 'Product_Size']
fill_categorical_missing(intsale,categorical_columns)

C:\Users\HP\AppData\Local\Temp\ipykernel_15080\3297095365.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

,index,Sale_Date,Sale_Month,Customer_Name,Product_Style,Product_SKU,Product_Size,Quantity_Purchased,Price_per_Unit,Gross_Amount
0,0,6/5/2021,21-Jun,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1,616.56,617.0
1,1,6/5/2021,21-Jun,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1,616.56,617.0
2,2,6/5/2021,21-Jun,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1,616.56,617.0
3,3,6/5/2021,21-Jun,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1,616.56,617.0
4,4,6/5/2021,21-Jun,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1,616.56,617.0
...,...,...,...,...,...,...,...,...,...,...
37427,37427,AVIN,3/31/2022,22-Mar,PJNE3423,PJNE3423-KR-4XL,1,537,538.00,4.0
37428,37428,AVIN,3/31/2022,22-Mar,PJNE3404,PJNE3404-KR-4XL,1,500,500.00,5.0
37429,37429,AVIN,3/31/2022,22-Mar,PJNE3423,PJNE3423-KR-4XL,1,537,538.00,4.0
37430,37430,AVIN,3/31/2022,22-Mar,SET290,SET290-KR-DPT-M,1,812,812.00,7.0
37431,37431,AVIN,3/31/2022,22-Mar,SHIPPING,SHIPPING,1,3666,3666.00,0.0

In [115]:
intsale['Date_Format'] = intsale['Sale_Date'].apply(identify_date_format)

format_counts = intsale['Date_Format'].value_counts()
print(format_counts)

Date_Format
UNKNOWN FORMAT    18796
M/D/YYYY          18635
MISSING               1
Name: count, dtype: int64