**AMAZON SALES DATA**

In [3]:
import pandas as pd
amazon=pd.read_csv("Amazon Sale Report.csv")

<ipython-input-3-7bdbbe371c7a>:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon=pd.read_csv("Amazon Sale Report.csv")

In [4]:
amazon.dtypes

index                       int64
Order_ID                   object
Order_Date                 object
Order_Status               object
Fulfillment_Type           object
Sales_Channel              object
Shipping_Service_Level     object
Product_Style              object
Product_SKU                object
Product_Category           object
Product_Size               object
Amazon_Standard_ID         object
Courier_Status             object
Quantity                  float64
Currency                   object
Sale_Amount               float64
Shipping_City              object
Shipping_State             object
Shipping_Postal_Code      float64
Shipping_Country           object
Promotion_IDs              object
Business_to_Business       object
Fulfilled_By               object
dtype: object

In [5]:
print(amazon.isnull().sum())

index                         0
Order_ID                      0
Order_Date                    0
Order_Status                  0
Fulfillment_Type              0
Sales_Channel                 0
Shipping_Service_Level        0
Product_Style                 0
Product_SKU                   1
Product_Category              1
Product_Size                  1
Amazon_Standard_ID            1
Courier_Status             2188
Quantity                      1
Currency                   2153
Sale_Amount                2153
Shipping_City                12
Shipping_State               12
Shipping_Postal_Code         12
Shipping_Country             12
Promotion_IDs             12914
Business_to_Business          1
Fulfilled_By              23011
dtype: int64

Finding Percentage of missing values in each column

In [6]:
missing_percentage = amazon.isnull().sum() / len(amazon) * 100
print(missing_percentage)

index                      0.000000
Order_ID                   0.000000
Order_Date                 0.000000
Order_Status               0.000000
Fulfillment_Type           0.000000
Sales_Channel              0.000000
Shipping_Service_Level     0.000000
Product_Style              0.000000
Product_SKU                0.002820
Product_Category           0.002820
Product_Size               0.002820
Amazon_Standard_ID         0.002820
Courier_Status             6.169115
Quantity                   0.002820
Currency                   6.070432
Sale_Amount                6.070432
Shipping_City              0.033834
Shipping_State             0.033834
Shipping_Postal_Code       0.033834
Shipping_Country           0.033834
Promotion_IDs             36.411312
Business_to_Business       0.002820
Fulfilled_By              64.880029
dtype: float64

Dropping Columns with large percentage of missing values

In [72]:
amazon.drop('Fulfilled_By', axis=1, inplace=True)

In [73]:
amazon.drop('Promotion_IDs', axis=1, inplace=True)

Imputation of missing values for remaing columns (int, float)

In [74]:
if amazon['Sale_Amount'].skew() > 0.5 or amazon['Sale_Amount'].skew() < -0.5:
    amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].median(), inplace=True)
else:
    amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].mean(), inplace=True)

<ipython-input-74-231244ab1593>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].median(), inplace=True)

Imputation of missing values for Categorical Columns

In [75]:
amazon['Courier_Status'].fillna(amazon['Courier_Status'].mode()[0], inplace=True)

<ipython-input-75-57b9ac5a1b6a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Courier_Status'].fillna(amazon['Courier_Status'].mode()[0], inplace=True)

In [76]:
amazon['Currency'].fillna(amazon['Currency'].mode()[0], inplace=True)
amazon['Shipping_City'].fillna(amazon['Shipping_City'].mode()[0], inplace=True)
amazon['Shipping_State'].fillna(amazon['Shipping_State'].mode()[0], inplace=True)
amazon['Shipping_Country'].fillna(amazon['Shipping_Country'].mode()[0], inplace=True)

<ipython-input-76-e597fa444b36>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Currency'].fillna(amazon['Currency'].mode()[0], inplace=True)
<ipython-input-76-e597fa444b36>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_City'].fillna(amazon['Shipping_City'].mode()[0], inplace=True)
<ipython-input-76-e597fa444b36>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_State'].fillna(amazon['Shipping_State'].mode()[0], inplace=True)
<ipython-input-76-e597fa444b36>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_Country'].fillna(amazon['Shipping_Country'].mode()[0], inplace=True)

Imputation for "Shipping_Postal_Code"

In [77]:
amazon['Shipping_Postal_Code'] = amazon['Shipping_Postal_Code'].astype(str)
amazon['Shipping_Postal_Code'] = amazon.groupby(['Shipping_City', 'Shipping_State'])['Shipping_Postal_Code'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
#Checking if everything is correctly imputed
print(amazon[amazon['Shipping_City'].notnull() & amazon['Shipping_State'].notnull() & amazon['Shipping_Postal_Code'].isnull()])

Empty DataFrame
Columns: [index, Order_ID, Order_Date, Order_Status, Fulfillment_Type, Sales_Channel, Shipping_Service_Level, Product_Style, Product_SKU, Product_Category, Product_Size, Amazon_Standard_ID, Courier_Status, Quantity, Currency, Sale_Amount, Shipping_City, Shipping_State, Shipping_Postal_Code, Shipping_Country, Business_to_Business]
Index: []

[0 rows x 21 columns]

In [78]:
print(amazon.isnull().sum())

index                     0
Order_ID                  0
Order_Date                0
Order_Status              0
Fulfillment_Type          0
Sales_Channel             0
Shipping_Service_Level    0
Product_Style             0
Product_SKU               0
Product_Category          0
Product_Size              0
Amazon_Standard_ID        0
Courier_Status            0
Quantity                  0
Currency                  0
Sale_Amount               0
Shipping_City             0
Shipping_State            0
Shipping_Postal_Code      0
Shipping_Country          0
Business_to_Business      0
dtype: int64

In [79]:
print(amazon.duplicated().sum())

0

In [80]:
amazon['Order_Date'] = pd.to_datetime(amazon['Order_Date'], errors='coerce')

In [118]:
amazon.dtypes

index                              int64
Order_ID                          object
Order_Date                datetime64[ns]
Order_Status                      object
Fulfillment_Type                  object
Sales_Channel                     object
Shipping_Service_Level            object
Product_Style                     object
Product_SKU                       object
Product_Category                  object
Product_Size                      object
Amazon_Standard_ID                object
Courier_Status                    object
Quantity                           int64
Currency                          object
Sale_Amount                      float64
Shipping_City                     object
Shipping_State                    object
Shipping_Postal_Code              object
Shipping_Country                  object
Business_to_Business                bool
dtype: object

In [117]:
print(amazon.isnull().sum())

index                     0
Order_ID                  0
Order_Date                0
Order_Status              0
Fulfillment_Type          0
Sales_Channel             0
Shipping_Service_Level    0
Product_Style             0
Product_SKU               0
Product_Category          0
Product_Size              0
Amazon_Standard_ID        0
Courier_Status            0
Quantity                  0
Currency                  0
Sale_Amount               0
Shipping_City             0
Shipping_State            0
Shipping_Postal_Code      0
Shipping_Country          0
Business_to_Business      0
dtype: int64

In [82]:
print(amazon['Sale_Amount'].mean())

645.9286939329328

**SALES REPORT**

In [83]:
sales=pd.read_csv("Sale Report.csv")

In [84]:
sales.dtypes

index                 int64
Product_SKU          object
Design_Number        object
Stock_Level         float64
Product_Category     object
Product_Size         object
Product_Color        object
dtype: object

In [85]:
print(sales.isnull().sum())

index                0
Product_SKU         83
Design_Number       36
Stock_Level         36
Product_Category    45
Product_Size        36
Product_Color       45
dtype: int64

In [61]:
missing_percentage = sales.isnull().sum() / len(sales) * 100
print(missing_percentage)

index               0.000000
Product_SKU         0.895265
Design_Number       0.388308
Stock_Level         0.388308
Product_Category    0.485385
Product_Size        0.388308
Product_Color       0.485385
dtype: float64

In [86]:
if sales['Stock_Level'].skew() > 0.5 or sales['Stock_Level'].skew() < -0.5:
    sales['Stock_Level'].fillna(sales['Stock_Level'].median(), inplace=True)
else:
    sales['Stock_Level'].fillna(sales['Stock_Level'].mean(), inplace=True)

<ipython-input-86-566237e1a7b0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Stock_Level'].fillna(sales['Stock_Level'].median(), inplace=True)

In [87]:
sales['Product_Category'].fillna(sales['Product_Category'].mode()[0], inplace=True)
sales['Product_Size'].fillna(sales['Product_Size'].mode()[0], inplace=True)
sales['Product_Color'].fillna(sales['Product_Color'].mode()[0], inplace=True)

<ipython-input-87-caa536d29502>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Product_Category'].fillna(sales['Product_Category'].mode()[0], inplace=True)
<ipython-input-87-caa536d29502>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Product_Size'].fillna(sales['Product_Size'].mode()[0], inplace=True)
<ipython-input-87-caa536d29502>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Product_Color'].fillna(sales['Product_Color'].mode()[0], inplace=True)

In [88]:
sales['Product_SKU'] = sales.groupby('Product_Category')['Product_SKU'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
sales['Design_Number'] = sales.groupby('Product_Category')['Design_Number'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [89]:
print(sales.isnull().sum())

index               0
Product_SKU         0
Design_Number       0
Stock_Level         0
Product_Category    0
Product_Size        0
Product_Color       0
dtype: int64

In [90]:
print(sales.duplicated().sum())

0

**MAY-2022**

In [100]:
maydata=pd.read_csv("May-2022.csv")

In [101]:
cols_to_convert = maydata.columns[5:]
maydata[cols_to_convert] = maydata[cols_to_convert].apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0).astype(int)

In [102]:
maydata.dtypes

index                int64
Product_SKU         object
Product_Style_ID    object
Product_Catalog     object
Product_Category    object
Product_Weight       int64
Transfer_Price       int64
Old_MRP              int64
Final_Old_MRP        int64
Ajio_MRP             int64
Amazon_MRP           int64
Amazon_FBA_MRP       int64
Flipkart_MRP         int64
Limeroad_MRP         int64
Myntra_MRP           int64
Paytm_MRP            int64
Snapdeal_MRP         int64
dtype: object

In [103]:
print(maydata.isnull().sum())

index               0
Product_SKU         0
Product_Style_ID    0
Product_Catalog     0
Product_Category    0
Product_Weight      0
Transfer_Price      0
Old_MRP             0
Final_Old_MRP       0
Ajio_MRP            0
Amazon_MRP          0
Amazon_FBA_MRP      0
Flipkart_MRP        0
Limeroad_MRP        0
Myntra_MRP          0
Paytm_MRP           0
Snapdeal_MRP        0
dtype: int64

In [104]:
print(maydata.duplicated().sum())

0

**INTERNATIONAL SALE REPORT**

In [1]:
intsale=pd.read_csv("International sale Report.csv")

NameError: name 'pd' is not defined

In [114]:
print(intsale.isnull().sum())

index                    0
Sale_Date                1
Sale_Month              25
Customer_Name         1040
Product_Style         1040
Product_SKU           2474
Product_Size          1040
Quantity_Purchased    1040
Price_per_Unit        1040
Gross_Amount          1040
dtype: int64

In [121]:
intsale.dropna(how='all', inplace=True)

In [122]:
intsale['Sale_Date'] = intsale['Sale_Date'].astype(str).str.strip()
intsale['Sale_Date'] = pd.to_datetime(intsale['Sale_Date'], errors='coerce')

In [123]:
intsale[intsale['Sale_Date'].isna() & intsale.notna().any(axis=1)]

,index,Sale_Date,Sale_Month,Customer_Name,Product_Style,Product_SKU,Product_Size,Quantity_Purchased,Price_per_Unit,Gross_Amount
18635,18635,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18636,18636,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18637,18637,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18638,18638,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18639,18639,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
37427,37427,NaT,3/31/2022,22-Mar,PJNE3423,PJNE3423-KR-4XL,1,537.5,538,4
37428,37428,NaT,3/31/2022,22-Mar,PJNE3404,PJNE3404-KR-4XL,1,500,500,5
37429,37429,NaT,3/31/2022,22-Mar,PJNE3423,PJNE3423-KR-4XL,1,537.5,538,4
37430,37430,NaT,3/31/2022,22-Mar,SET290,SET290-KR-DPT-M,1,812.5,812,7
37431,37431,NaT,3/31/2022,22-Mar,SHIPPING,SHIPPING,1,3666,3666,0

In [115]:
intsale['Sale_Date'] = pd.to_datetime(intsale['Sale_Date'], errors='coerce')

In [109]:
intsale["Quantity_Purchased"] = pd.to_numeric(intsale["Quantity_Purchased"], errors='coerce').fillna(0).astype(int)
intsale[["Price_per_Unit", "Gross_Amount"]] = intsale[["Price_per_Unit", "Gross_Amount"]].apply(pd.to_numeric, errors='coerce')

In [110]:
intsale.dtypes

index                          int64
Sale_Date             datetime64[ns]
Sale_Month                    object
Customer_Name                 object
Product_Style                 object
Product_SKU                   object
Product_Size                  object
Quantity_Purchased             int64
Price_per_Unit               float64
Gross_Amount                 float64
dtype: object

In [111]:
intsale["Sale_Month"] = intsale["Sale_Date"].dt.strftime("%y-%b")

print(intsale[["Sale_Date", "Sale_Month"]].head())

   Sale_Date Sale_Month
0 2021-06-05     21-Jun
1 2021-06-05     21-Jun
2 2021-06-05     21-Jun
3 2021-06-05     21-Jun
4 2021-06-05     21-Jun

In [116]:
print(intsale.isnull().sum())

index                     0
Sale_Date             18797
Sale_Month               25
Customer_Name          1040
Product_Style          1040
Product_SKU            2474
Product_Size           1040
Quantity_Purchased     1040
Price_per_Unit         1040
Gross_Amount           1040
dtype: int64