In [ ]:
import pandas as pd
amazon=pd.read_csv("data/Amazon Sale Report.csv")

In [20]:
amazon.dtypes

index                       int64
Order_ID                   object
Order_Date                 object
Order_Status               object
Fulfillment_Type           object
Sales_Channel              object
Shipping_Service_Level     object
Product_Style              object
Product_SKU                object
Product_Category           object
Product_Size               object
Amazon_Standard_ID         object
Courier_Status             object
Quantity                    int64
Currency                   object
Sale_Amount               float64
Shipping_City              object
Shipping_State             object
Shipping_Postal_Code      float64
Shipping_Country           object
Business_to_Business         bool
dtype: object

In [32]:
print(amazon.isnull().sum())

index                         0
Order_ID                      0
Order_Date                    0
Order_Status                  0
Fulfillment_Type              0
Sales_Channel                 0
Shipping_Service_Level        0
Product_Style                 0
Product_SKU                   0
Product_Category              0
Product_Size                  0
Amazon_Standard_ID            0
Courier_Status             6872
Quantity                      0
Currency                   7795
Sale_Amount                7795
Shipping_City                33
Shipping_State               33
Shipping_Postal_Code         33
Shipping_Country             33
Promotion_IDs             49153
Business_to_Business          0
Fulfilled_By              89698
dtype: int64

Finding Percentage of missing values in each column

In [16]:
missing_percentage = amazon.isnull().sum() / len(amazon) * 100
print(missing_percentage)

index                      0.000000
Order_ID                   0.000000
Order_Date                 0.000000
Order_Status               0.000000
Fulfillment_Type           0.000000
Sales_Channel              0.000000
Shipping_Service_Level     0.000000
Product_Style              0.000000
Product_SKU                0.000000
Product_Category           0.000000
Product_Size               0.000000
Amazon_Standard_ID         0.000000
Courier_Status             5.328164
Quantity                   0.000000
Currency                   6.043807
Sale_Amount                6.043807
Shipping_City              0.025586
Shipping_State             0.025586
Shipping_Postal_Code       0.025586
Shipping_Country           0.025586
Promotion_IDs             38.110487
Business_to_Business       0.000000
Fulfilled_By              69.546811
dtype: float64

Dropping Columns with large percentage of missing values

In [43]:
amazon.drop('Fulfilled_By', axis=1, inplace=True)

In [44]:
amazon.drop('Promotion_IDs', axis=1, inplace=True)

Imputation of missing values for remaing columns (int, float)

In [45]:
if amazon['Sale_Amount'].skew() > 0.5 or amazon['Sale_Amount'].skew() < -0.5:
    amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].median(), inplace=True)
else:
    amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].mean(), inplace=True)

<ipython-input-45-231244ab1593>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Sale_Amount'].fillna(amazon['Sale_Amount'].median(), inplace=True)

Imputation of missing values for Categorical Columns

In [46]:
amazon['Courier_Status'].fillna(amazon['Courier_Status'].mode()[0], inplace=True)

<ipython-input-46-57b9ac5a1b6a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Courier_Status'].fillna(amazon['Courier_Status'].mode()[0], inplace=True)

In [47]:
amazon['Currency'].fillna(amazon['Currency'].mode()[0], inplace=True)
amazon['Shipping_City'].fillna(amazon['Shipping_City'].mode()[0], inplace=True)
amazon['Shipping_State'].fillna(amazon['Shipping_State'].mode()[0], inplace=True)
amazon['Shipping_Country'].fillna(amazon['Shipping_Country'].mode()[0], inplace=True)

<ipython-input-47-e597fa444b36>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Currency'].fillna(amazon['Currency'].mode()[0], inplace=True)
<ipython-input-47-e597fa444b36>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_City'].fillna(amazon['Shipping_City'].mode()[0], inplace=True)
<ipython-input-47-e597fa444b36>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_State'].fillna(amazon['Shipping_State'].mode()[0], inplace=True)
<ipython-input-47-e597fa444b36>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon['Shipping_Country'].fillna(amazon['Shipping_Country'].mode()[0], inplace=True)

Imputation for "Shipping_Postal_Code"

In [48]:
amazon['Shipping_Postal_Code'] = amazon['Shipping_Postal_Code'].astype(str)
amazon['Shipping_Postal_Code'] = amazon.groupby(['Shipping_City', 'Shipping_State'])['Shipping_Postal_Code'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
#Checking if everything is correctly imputed
print(amazon[amazon['Shipping_City'].notnull() & amazon['Shipping_State'].notnull() & amazon['Shipping_Postal_Code'].isnull()])

Empty DataFrame
Columns: [index, Order_ID, Order_Date, Order_Status, Fulfillment_Type, Sales_Channel, Shipping_Service_Level, Product_Style, Product_SKU, Product_Category, Product_Size, Amazon_Standard_ID, Courier_Status, Quantity, Currency, Sale_Amount, Shipping_City, Shipping_State, Shipping_Postal_Code, Shipping_Country, Business_to_Business]
Index: []

[0 rows x 21 columns]

In [49]:
print(amazon.isnull().sum())

index                     0
Order_ID                  0
Order_Date                0
Order_Status              0
Fulfillment_Type          0
Sales_Channel             0
Shipping_Service_Level    0
Product_Style             0
Product_SKU               0
Product_Category          0
Product_Size              0
Amazon_Standard_ID        0
Courier_Status            0
Quantity                  0
Currency                  0
Sale_Amount               0
Shipping_City             0
Shipping_State            0
Shipping_Postal_Code      0
Shipping_Country          0
Business_to_Business      0
dtype: int64

In [50]:
print(amazon.duplicated().sum())

0

In [52]:
amazon['Order_Date'] = pd.to_datetime(amazon['Order_Date'], errors='coerce')

In [53]:
amazon.dtypes

index                              int64
Order_ID                          object
Order_Date                datetime64[ns]
Order_Status                      object
Fulfillment_Type                  object
Sales_Channel                     object
Shipping_Service_Level            object
Product_Style                     object
Product_SKU                       object
Product_Category                  object
Product_Size                      object
Amazon_Standard_ID                object
Courier_Status                    object
Quantity                           int64
Currency                          object
Sale_Amount                      float64
Shipping_City                     object
Shipping_State                    object
Shipping_Postal_Code              object
Shipping_Country                  object
Business_to_Business                bool
dtype: object

In [56]:
print(amazon['Sale_Amount'].mean())

645.9286939329328